<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<i _ngcontent-xvf-10="" class="fa fa-google"></i>
<div>
  <mat-card class="card">
    <div class="mat-card-header " style="margin:auto">
      <mat-card-header>
        <!-- <mat-card-title>User Registration </mat-card-title> -->
        <div id="rcorners1">
          <img  src="C:\Workspace\form-demo\src\assets\images\logo.png" alt="RealX" style="width: 10%;">
        </div>
      </mat-card-header>
    </div>

    <div class="btn" style=" ">

      <button mat-raised-button class="button button1" >
        <i _ngcontent-xvf-10="" class="fa fa-google"></i>
        <mat-icon>google</mat-icon> Login with Google
      </button>

      <pre></pre>

      <button mat-raised-button class="button button2" style="background-color:#3b5998">
        <mat-icon>facebook</mat-icon>
        Login with Facebook
      </button>

      <pre></pre>

      <button mat-raised-button style="background-color:#007bb5 ; " class="button button3">
        <mat-icon>linkedin</mat-icon>
        Login with LinkedIn
      </button>

    </div>
  </mat-card>
</div>