/* You can add global styles to this file, and also import other style files */
//  @import "~@angular/material/prebuilt-themes/pink-bluegray.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar{
 background-color: white;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid whitesmoke  ;
  box-shadow: 1px 1px 5px whitesmoke;
}
.card{
  text-align: center;
  width: 500px;
  overflow: auto;
  margin: 30px auto;
  padding:auto;
  background: #f5f5f5; 
  margin-top: 100px;
  min-height: 300px;
  padding-bottom: 25px;
  border-radius: 15px;
 text-align: center;
 
}


.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }
  .form-control {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  